<div class="header">
  <div class="head1">

  </div>
  <div class="head2">
    <h2>CEVT</h2>
  </div>
  <div class="head3">
    Sign out
  </div>   
</div>
<div class="banner">
  <img src="/assets/skyscrapers.jpeg" height="350%">
  <div class="text_position">
      <h4>Welcome</h4>
  </div> 
</div>


<div class="content">
  <div class="text_position2" style="font-family: 'Quicksand', sans-serif;">
      <h4>Total registered devices</h4>
  </div>
  <div class="text_position2" style="display:flex;">
    <div class="reinfo">
      <p style="font-size:11px;">Computers</p>
      <h4>N/A</h4>
    </div>
    <div class="reinfo">
      <p style="font-size:11px;">Smart phones</p>
      <h4>N/A</h4>
    </div>
    <div class="reinfo">
      <p style="font-size:11px;">Tablets</p>
      <h4>N/A</h4>
    </div>
  </div>
</div>

  <div class="content" style="background-color:#3d4655; display:flex;">
    <div class="intro_buton">
      <a routerLink="/add"><img src="/assets/img/addnew.svg" data-test-id="addButton"/></a>
    </div>
    <div class="intro_buton">
      <a routerLink="/scanner"><img src="/assets/img/scan.svg" data-test-id="scanButton"/></a>
    </div>
  </div>
